@model BookingApiConsume.Models.HotelsViewModel.Data
@{
	ViewData["Title"] = "HotelList";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="hotel_booking_area position">
	<div class="container">
		<div class="hotel_booking_table">
			<div class="col-md-3">
				<h2>Odanı<br> Hemen Ayır</h2>
			</div>
			<div class="col-md-9">
				<div class="boking_table">
					<form method="post" asp-action="HotelList" asp-controller="Booking">
						<div class="row">
							<div class="col-md-4">
								<div class="book_tabel_item">
									<div class="form-group">
										<div class='input-group'>
											<input type='text' class="form-control" name="city" id="city" placeholder="Şehir Bilgisi" />
											<span class="input-group-addon">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
											</span>
										</div>
									</div>

									<div class="form-group">
										<div class='input-group date' id='datetimepicker11'>
											<input type='text' class="form-control" name="checkIn" id="checkin" placeholder="Giriş Tarihi" />
											<span class="input-group-addon">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</div>

									<div class="form-group">
										<div class='input-group date' id='datetimepicker1'>
											<input type='text' class="form-control" name="checkOut" id="checkout" placeholder="Çıkış Tarihi" />
											<span class="input-group-addon">
												<i class="fa fa-calendar" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="book_tabel_item">
									<div class="form-group">
										<div class="input-group">
											<input type="number" class="form-control" name="adultCount" id="adults" value="1" min="1" max="10" placeholder="Kişi Sayısı">
											<span class="input-group-addon">
												<i class="fa fa-user" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="book_tabel_item">
									@* <div class="input-group">
										<select class="wide" name="adultCount" id="adults">
											<option data-display="Oda Sayısı">Oda Sayısı</option>
											@for (int i = 1; i <= 4; i++)
											{
												<option value="@i">@i</option>
											}
										</select>
									</div> *@
									<button type="submit" class="book_now_btn button_hover">Otel Ara</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.input-group-addon i {
		font-size: 18px;
		color: #555;
		margin-left: 5px;
		transition: color 0.3s ease-in-out;
	}

	.input-group-addon:hover i {
		color: #007bff;
	}

	}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/royal-master/js/popper.js"></script>
<script src="~/royal-master/js/bootstrap.min.js"></script>
<!-- Türkçe Dil Desteği -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.tr.min.js"></script>

<script src="~/royal-master/vendors/nice-select/js/jquery.nice-select.js"></script>

<script>
	$(document).ready(function () {
		// Arrival Date Picker (Türkçe Dil)
		$('#datetimepicker11').datepicker({
			format: 'yyyy-mm-dd',  // Tarih formatını belirler
			autoclose: true,  // Seçim yapıldığında kapanmasını sağlar
			todayHighlight: true,  // Bugünün tarihi vurgulanır
			startDate: new Date(),  // Bugünden önceki tarihler seçilemez
			clearBtn: true,  // Temizleme butonu ekler
			language: 'tr'  // Türkçe dil desteğini etkinleştirir
		});

		// Departure Date Picker (Türkçe Dil)
		$('#datetimepicker1').datepicker({
			format: 'yyyy-mm-dd',  // Tarih formatını belirler
			autoclose: true,  // Seçim yapıldığında kapanmasını sağlar
			todayHighlight: true,  // Bugünün tarihi vurgulanır
			startDate: new Date(),  // Bugünden önceki tarihler seçilemez
			clearBtn: true,  // Temizleme butonu ekler
			language: 'tr'  // Türkçe dil desteğini etkinleştirir
		});
	});

</script>



<section class="accomodation_area section_gap">
	<div class="container">
		<div class="section_title text-center">
			<h2 class="title_color">Otel Önerileri</h2>
			<p>Bu bölgede yer alan en iyi otelleri keşfedin. Tatiliniz ya da iş seyahatiniz için mükemmel konaklama fırsatları.</p>
		</div>


		<div class="row mb_30">
			@foreach (var item in Model.hotels)
			{
				<div class="col-lg-3 col-sm-6">
					<div class="accomodation_item text-center">
						<div class="hotel_img">
							<img src="@item.property.photoUrls[0]" style="width:263px;height:270px" alt="">
							<a href="#" class="btn theme_btn button_hover">İncele</a>
						</div>
						<a href="#"><h4 class="sec_h4">@item.property.name</h4></a>
						<h5>@item.property.priceBreakdown.grossPrice.value.ToString("F2") @item.property.priceBreakdown.grossPrice.currency <small>/ gecelik</small></h5>
						<h6>Otel Puanı: @item.property.reviewScore</h6>
					</div>
				</div>
			}
		</div>

	</div>
</section>


